- name: Download Installer
  become: true
  get_url:
    url: https://sh.rustup.rs
    dest: /tmp/sh.rustup.rs
    mode: '0755'

- name: Run installer rustup
  become: true
  become_user: "{{ target_user }}"
  ansible.builtin.command:
    cmd: "/tmp/sh.rustup.rs -y"
    creates: "{{ cargo_prefix }}/bin/cargo"
  environment:
    CARGO_HOME: "{{ cargo_prefix }}"
